.statistics {
    display: flex;
    width: 650px;
    position: relative;
}

.statBlock {
    flex-grow: 1;
    min-height: 250px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #3f6699;
    border-radius: 15px;
    text-align: left;
    padding: 20px;
}

.statBlock__hours {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter__input {
    resize: none;
    padding-left: 10px;
}

.filter__text {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.filter__button {
    background-color: #3f6699;
    border: none;
    border-radius: 5px;
    transition-duration: 0.3s;
    outline: none;
    color: yellow;
}

.filter__button:hover,
.filter__button:active {
    transform: scale(1.1);
}

.filter__button:active {
    transform: scale(0.9);
}

.statBlock__monthlist {
    list-style: none;
    display: flex;
    padding: 0;
}

.statBlock__monthlistItem {
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    width: 50px;
    min-height: 50px;
    margin-right: 5px;
}

.statBlock__monthlistItem:last-child {
    margin-right: 0;
}
