.statistics {
    display: flex;
    width: 650px;
}

.statBlock {
    width: 50%;
    min-height: 250px;
    border: 2px solid #3f6699;
    border-radius: 15px;
    margin-right: 10px;
}

.statBlock:last-child {
    margin-right: 0;
}

.statBlock__hours {
    font-size: 50px;
    font-weight: bold;
}

.filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter__textarea {
    resize: none;
    padding-left: 10px;
}

.filter__text {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.filter__button {
    background-color: #3f6699;
    border: none;
    border-radius: 5px;
    transition-duration: 0.3s;
    outline: none;
    color: yellow;
}

.filter__button:hover,
.filter__button:active {
    transform: scale(1.1);
}

.filter__button:active {
    transform: scale(0.9);
}
